/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.item {
  border-radius: 5px;
  background-color: rgb(150, 105, 21);
  padding: 20px;
  text-align: center;
}
